@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-BoldItalic.ttf') format("truetype"), url('../fonts/RBNo31-ExtraboldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-UltraItalic.ttf') format("truetype"), url('../fonts/RBNo31-BookItalic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-Thin.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-ThinItalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-Bold.ttf') format("truetype"), url('../fonts/RBNo31-Extrabold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31 31";
  src: url('../fonts/RBNo31-MediumItalicRBNo31-Mediumvfb.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31 Ultra";
  src: url('../fonts/RBNo31-Ultra.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-ExtraLightItalic.ttf') format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-ExtraLight.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31";
  src: url('../fonts/RBNo31-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rbno 31 Book";
  src: url('../fonts/RBNo31-Book.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova;
  src: url('../fonts/Proxima-Nova-Black.otf') format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Semibold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Thin-Italic.otf') format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Extrabold-Italic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova;
  src: url('../fonts/Proxima-Nova-Black-Italic.otf') format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Extrabold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Regular-Italic.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Thin.otf') format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Semibold-Italic.otf') format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova;
  src: url('../fonts/Proxima-Nova-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Alt;
  src: url('../fonts/Proxima-Nova-Alt-Light-Italic.otf') format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova;
  src: url('../fonts/Proxima-Nova-Bold-Italic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --_headlinerbmedium---proximafamily: "Proxima Nova Alt", Arial, sans-serif;
  --font-family-3: "Rbno 31", Impact, sans-serif;
  --_headlinerbmedium---black: #000;
  --_headlinerbmedium---hyperxred: #c8202f;
  --_headlinerbmedium---rbh1: "Rbno 31 Book", Impact, sans-serif;
  --font-family: "Rbno 31 Book", Impact, sans-serif;
  --font-family-2: "Rbno 31 Ultra", Impact, sans-serif;
  --_headlinerbmedium---white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.instantpair1 {
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  position: relative;
}

.intantpair2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

.instanh1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Rbno 31", Impact, sans-serif;
  font-size: 3rem;
  line-height: 105%;
  position: static;
}

.instantheadercopy {
  font-family: var(--_headlinerbmedium---proximafamily);
  text-align: center;
  max-width: 950px;
  font-size: 1rem;
  font-weight: 600;
}

.instantpair3 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  height: auto;
  margin: 5rem auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  position: relative;
}

.instanthalfwrap {
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.divstretch {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
}

.divstretch.right {
  margin-left: 71px;
}

.divstretch.left {
  margin-right: 0;
}

.image {
  aspect-ratio: 1;
  object-fit: cover;
}

.subcopyinstant {
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  display: flex;
}

.instanth2 {
  font-family: var(--font-family-3);
  flex: 1;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 33px;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.halfblockflexv {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 71px;
  display: flex;
}

.text-block {
  max-width: 35rem;
}

.texthalf {
  width: 100%;
  max-width: 50rem;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.texthalf.right {
  text-align: right;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
}

.texthalf.left {
  margin-left: 71px;
}

.proximatext {
  font-family: var(--_headlinerbmedium---proximafamily);
  font-size: 1.5rem;
  line-height: 2.1rem;
}

._4-grid {
  margin-bottom: 67px;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: none;
  margin: 41px auto;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  position: relative;
}

.centerflex {
  border: 1px solid #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  display: flex;
}

.icon50 {
  width: 50px;
  margin-bottom: 11px;
}

.icon50.sm {
  width: 30px;
}

.quarterheadline {
  font-family: var(--font-family-3);
}

.grid-2 {
  max-width: 1200px;
  margin-bottom: 95px;
}

.headlinequarter {
  font-size: 2rem;
  line-height: 2.1rem;
}

.quartertypewhite {
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.italic-text {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.centergrid {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.bottomblock {
  margin-bottom: 193px;
}

._00block {
  margin-bottom: 55px;
}

.hyperxbutton {
  font-family: var(--font-family-3);
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #000408;
  padding: 20px 71px;
}

.hyperxbutton:hover {
  background-color: var(--_headlinerbmedium---black);
  pointer-events: auto;
  color: var(--_headlinerbmedium---hyperxred);
  -webkit-text-stroke-color: #000;
  font-size: .9rem;
  line-height: 1rem;
}

._00buttonwrap {
  margin-top: 29px;
}

.absolutewrap {
  max-width: 40rem;
  position: absolute;
  inset: auto auto -3% -12%;
}

.absolutewrap.right {
  max-width: 40rem;
  inset: auto -5% 0% auto;
}

.instantoverlay, .instantoverlay.small {
  max-width: 40rem;
}

.instantmain {
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .instanh1 {
    font-size: 4rem;
    line-height: 110%;
  }

  .divstretch {
    margin-right: 2rem;
  }

  .instanth2 {
    font-size: 3.5rem;
    line-height: 3.1rem;
  }

  .texthalf {
    max-width: none;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .italic-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .instantpair1 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .instanh1 {
    font-size: 3rem;
    line-height: 105%;
  }

  .instantpair3 {
    margin-bottom: 5rem;
  }

  .instanthalfwrap {
    flex-flow: column;
  }

  .divstretch {
    width: 80%;
    margin-bottom: 82px;
    margin-right: 0;
  }

  .halfblockflexv {
    margin-right: 0;
  }

  .texthalf.right {
    width: 100%;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    margin-top: 0;
    display: grid;
  }
}

@media screen and (max-width: 479px) {
  .instanh1 {
    font-size: 1.7rem;
  }

  .instanthalfwrap {
    padding-bottom: 40px;
  }

  .divstretch {
    width: 95%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .headlinequarter {
    font-size: 1rem;
  }
}

#w-node-fd419496-b03b-c122-6204-297f96d2329b-f72b4e99, #w-node-fd419496-b03b-c122-6204-297f96d232a1-f72b4e99, #w-node-fd419496-b03b-c122-6204-297f96d232a7-f72b4e99, #w-node-fd419496-b03b-c122-6204-297f96d232ad-f72b4e99 {
  place-self: center;
}


@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-BoldItalic.ttf') format('truetype'), url('../fonts/RBNo31-ExtraboldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-UltraItalic.ttf') format('truetype'), url('../fonts/RBNo31-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Bold.ttf') format('truetype'), url('../fonts/RBNo31-Extrabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31 31';
  src: url('../fonts/RBNo31-MediumItalicRBNo31-Mediumvfb.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31 Ultra';
  src: url('../fonts/RBNo31-Ultra.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31 Book';
  src: url('../fonts/RBNo31-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Extrabold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Semibold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('../fonts/Proxima-Nova-Alt-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}